body {
  font-size: 16px;
  color: #fff;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f57444;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #faffbf;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
h2{
 text-align: center;
    color:gray;
    font-weight: bold;
    margin: 30px;
}

#div1 {
   background: gray;  
       width: 90%;
      font-weight: bolder;
      margin: auto;
      

  }
   
  p{
text-align: center;
    font-weight: bolder;
  }
.navbar-brand {
  padding-top: 25px;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid gray;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}